# Compilação e arquivos de Build (Maven / Gradle)
target/
build/
.gradle/
out/

# Configurações de IDEs (IntelliJ / VS Code / Eclipse)
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

# Logs e arquivos do sistema
*.log
.DS_Store
*.tmp
